<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <style>
      .border {
        border: solid 3px grey;
        background: lightgrey;
      }
      .top {
        margin-top: 25px;
      }
      .bottom {
        margin-bottom: 25px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Test App</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
          </ul>
       </div>
      </div>
    </nav>
    <div class="container">
      <div class="col-xs-10 col-xs-offset-1 border top">
        <div class="col-xs-12"><h1>Welcome to the Test</h1></div>
        <div class="col-xs-12">
          <p>
            We're goig to build a cool application using a MVC faramework!
            This application was build with the Village88 folks!
          </p>
        </div>
        <div class="col-xs-12">
          <form action="/users/register" class="form bottom">
            <button type='submit' class='btn btn-primary'>Start</button>
          </form>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 top">
        <div class="col-xs-12">
          <div class="col-xs-4">
            <h2>Manage Uses</h2>
            <p>Using this application, you'll lean how to add, remove,
              and edit users for the application.
            </p>
          </div>
          <div class="col-xs-4">
            <h2>Leave messages</h2>
            <p>
              Users will be able to leave a message to another user using this application.
            </p>
          </div>
          <div class="col-xs-4">
            <h2>Edit User information</h2>
            <p>
              Admins will be able to edit another user's inforatin
              (email adress, first name, last name, ect).
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
